/* Reset default margin and padding */
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

  /* Set a background color for the entire page */
body {
    background-color: #fff5d2;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease;
}

.tokentainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

  /* Style the form container */
.form-container {
    max-height: 15vh;
    height: 100%;
    width: 100%;
    max-width: 20vw;
    margin: 0 auto;
    padding: 20px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

  /* Style the heading */
/* h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
} */

h4 {
    font-size: 32px;
    color: #333;
    transition: transform 0.3s ease, scale 0.3s ease, margin-left 0.3s ease;
}

h4:hover {
    transform: scale(0.95);
    cursor: help;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); 
        scale: 0.95;
    }
    33% {
        margin-left: 10vw;
    }
    66% {
        margin-left: -10vw;
    }
    100% { 
        transform: rotate(360deg); 
        scale: 0.95;
        margin-left: 0vw;
    }
}

@keyframes changeBGColor {
    0% {
        background-color: #fff5d2;
    }
    50% {
        background-color: #d7d2ff;
    }
    100% {
        background-color: #fff5d2;
    }
}

  /* Style links */
.homebutton {
    color: #007acc;
    text-decoration: none;
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.homebutton:hover {
    background-color: #cccccc;
    color: #016eb7;
}

.homebutton:active {
    scale: 0.95;
}


  /* Style input fields */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

  /* Style the button */
button {
    background-color: #007acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0055a5;
}

.cool {
    color: #fff5d2;
    rotate: 5deg;
    cursor: default;
    margin-left: 65vw;
    margin-top: 40vh;
    position: absolute;
}

.savebtn {
    transition: background-color 0.3s ease;
    background-color: #0055a5;
    margin-top: 1vh;
}

.savebtn:hover {
    background-color: #004280;
}